@import 'theme';
@import 'spacing';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

button {
    border: none;
    outline: none;
    background: none;
}

.main-btn {
    border-radius: 5px;
    background: $gradient-range;
    padding: 0.8em 1.7em;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    font-family: $pop;
    transition: $transition;
    display: inline-block !important;
    z-index: 1;

    &.sm {
        padding: 0.8em 0.9em;
        font-weight: 400;
    }


    &:hover {
        transform: translateY(-4px);
        color: $white;
    }
}

.sec {
    padding: 6em 0;
    position: relative;
    overflow: hidden;
}

.dark-bg {
    background: $dark;
}

.biege-bg {
    background: $biege;
}

.sec-head {
    position: relative;
    padding-bottom: 1em;

    .sub {
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 110%;
        color: #FFFFFF;
        transform: rotate(-2.85deg) translate(-50px, 30px);
        display: block;


        &.left {
            text-align: left;
            transform: rotate(-2.85deg)
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }

    .title {
        font-family: $tok-reg;
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 110%;
        color: $white;

        &.sm {
            font-size: 58px;
        }

        img {
            height: 100%;
            vertical-align: middle;
        }

        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }

        .sub-title {
            font-family: $bodoni;
            font-style: italic;
            font-weight: 700;
            font-size: 62px;
            line-height: 110%;
            background: linear-gradient(221.25deg, #FB7822 2.49%, #DD2E03 96.74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            padding-right: 5px;
        }
    }


    .ovr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-25%);
        opacity: 0.8;
    }


}

.para {
    font-family: Helvetica;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    z-index: 1;

    &.tokyo {
        font-family: $tok-reg;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: $white;
    }
}

.orange {
    color: $orange !important;
}

.dark {
    color: $dark !important;
}

.white {
    color: $white !important;
}